body { width: 42em; margin: 4em; }

/* Reused from Florian Angeletti's work in
   https://github.com/ocaml/ocaml/pull/9101/files
*/
a.section-anchor::after{content:"🔗";
font-size:smaller;
margin-left:-1.5em;
padding-right:0.5em;
}
a.section-anchor{visibility:hidden;
color:grey !important;
text-decoration:none !important;
}
*:hover>a.section-anchor{visibility:visible;
}
